body {
    font-family: sans-serif;
    background-image: url('/img/madeira.jpeg'); /* Imagem de fundo de madeira */
    background-size: cover; /* Cobrir toda a área */
    color: #333; /* Texto marrom escuro para contraste */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    gap: 20px;
}

.calculator {
    background-color: rgba(255, 228, 196, 0.8); /* Cor de madeira clara com transparência */
    border: 2px solid #654321; /* Borda marrom escura */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidade */
}

.titulo {
    font-family: "American Typewriter", serif; /* Use a fonte American Typewriter */
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 0;
    color: #654321; /* Texto marrom escuro */
}

#display, button {
    font-family: "American Typewriter", serif; /* Use a fonte American Typewriter */
    padding: 15px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); /* Sombra suave para os botões */
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

button:active {
    transform: translateY(2px);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
}

.operator {
    background-color: #DEB887; /* Bege */
    color: #333; /* Texto marrom escuro */
}

#equals {
    background-color: #CD853F; /* Marrom mais claro */
    color: #fff; /* Texto branco */
    grid-column: 1 / 3;
    grid-row: 4; 
}

.keypad button:last-child {
    background-color: #A52A2A; 
    color: #fff; /* Texto branco */
}

.operations {
    grid-template-columns: repeat(4, 1fr); 
    text-align: center;  
    padding-top: 4%; 
}

.tela { 
    text-align: center;
    padding-bottom: 4%;
}
